/* <copyright file="ancilecsh.css" company="Ancile Solutions Inc.">*/
/*   Copyright © 2016 ANCILE Solutions, Inc.*/
/* </copyright>*/

/* Help button*/
#ancile-help-button {
	/* ANCILE Help button host element*/
}
#ancile-help-button button[id*='ancile-help-button'].ui-draggable {
	/* ANCILE Help button in float mode */
	z-index: 99999 !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: none !important;
	position: fixed !important;
}
[id*='ancile-help-button']:not(.ui-draggable) {
	/* ANCILE Help button in dock mode */
	/* Note: Dock button not always be a <button> tag */
}
#ancile-help-context-data {
    /* Context data expose area*/
    display: none !important;
}

/* Help panel*/
#ancile-help-panel {
    /*ANCILE Help panel host element */
	position: fixed !important;
	border: rgba(153,153,153,0.6) solid !important;
	background: white !important;
	opacity: 1 !important;
	z-index: 9999 !important;
	border-width: 1px !important;
}
#ancile-help-panel.ui-draggable header {
    /* Help panel header in float mode */
    cursor: move !important;
}
#ancile-help-panel.ui-draggable.ui-draggable-disabled header {
    /* Help panel header in dock mode */
    cursor: default !important;
}
#ancile-help-panel header .sapUiPanelTitle {
    /* Help panel header title sap.ui.commons */
    /* Disable text selection */
    -moz-user-select: none !important; /* Firefox */
    -ms-user-select: none !important; /* Internet Explorer */
    -khtml-user-select: none !important; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none !important; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none !important; /* Disable Android and iOS callouts*/
}
#ancile-help-panel.ui-draggable header .sapUiPanelTitle {
    /* Help panel header title text in float mode */
    cursor: move !important;
}
#ancile-help-panel.ui-draggable.ui-draggable-disabled header .sapUiPanelTitle {
    /* Help panel header title text in dock mode */
    cursor: default !important;
}
#ancile-help-panel header .sapMTitle {
    /* Help panel header title sap.m */
    /* Disable text selection */
    -moz-user-select: none !important; /* Firefox */
    -ms-user-select: none !important; /* Internet Explorer */
    -khtml-user-select: none !important; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none !important; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none !important; /* Disable Android and iOS callouts*/
}
#ancile-help-panel.ui-draggable header .sapMTitle {
    /* Help panel header title text in float mode */
    cursor: move !important;
}
#ancile-help-panel.ui-draggable.ui-draggable-disabled header .sapMTitle {
    /* Help panel header title text in dock mode */
    cursor: default !important;
}
#ancile-help-panel section.sapUiPanel header.sapUiPanelHdr .sapUiPanelHdrItem.sapUiPanelTitle {
    /* Header title */
    text-align: center !important;
    margin: 2px 0 0 0 !important;
    width: 100% !important;
}
#ancile-help-panel section.sapUiPanel header.sapUiPanelHdr .sapUiPanelHdrItem.sapUiPanelTb {
    /* Header buttons in LTR */
    margin: 2px 0 0 0 !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    width: 100% !important;
    text-align: right;
}
html[dir='rtl'] #ancile-help-panel section.sapUiPanel header.sapUiPanelHdr .sapUiPanelHdrItem.sapUiPanelTb {
    /* Header buttons in RTL */
    margin: 2px 0 0 0 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    text-align: left;
}
#ancile-help-panel section.sapUiPanel .sapUiPanelCont {
    /* Panel content */
    padding: 0 !important;
}
#ancile-help-panel #ios-scroll-frame {
    /* iOS only */
    /* This is the parent element of iframe in iOS */
    /* In iOS, the iframe is always full-size, therefore, we must add scrollbars into its parent */
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
    width: 100% !important;
    height: 100% !important;
}
#ancile-help-panel iframe {
    border: none !important;
    vertical-align: top !important;
    min-width: 0 !important;
    min-height: 0 !important;
}
#ancile-help-panel-switchmode-dropdown-menu {
    /* Switch mode dropdown menu in Help panel*/
    z-index: 99999! important;
}

/* jQueryUi resizable */
.ui-resizable {
	position: relative;
}
.ui-resizable-hidden-handle {
	display:none!important;
}
.ui-resizable-iframefix {
    width:100%!important;
    height:100%!important;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 10px;
	width: 100%;
	top: -7px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 10px;
	width: 100%;
	bottom: -7px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 10px;
	right: -7px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 10px;
	left: -7px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 15px;
	height: 15px;
	right: 1px;
	bottom: 1px;
	z-index: 99 !important; /* The other handles have z-index:90, make sure this handle is overlap others */
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 12px;
	height: 12px;
	left: -7px;
	bottom: -7px;
	z-index: 99 !important; /* The other handles have z-index:90, make sure this handle is overlap others */
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 12px;
	height: 12px;
	left: -7px;
	top: -7px;
	z-index: 99 !important; /* The other handles have z-index:90, make sure this handle is overlap others */
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 12px;
	height: 12px;
	right: -7px;
	top: -7px;
	z-index: 99 !important; /* The other handles have z-index:90, make sure this handle is overlap others */
}
/* End jQueryUi resizable */